*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}



body{
    font-family: "cairo" , sans-serif; 
    font-size: 20px;
    text-align: center;
    background-image: url(32.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;


}



img{
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}
.test{
    margin-top: 40px; 
    font-weight: bold;
    font-size: 25px;
    padding: 10 10 10 10;
}

.test2{
    margin-top: 50px; 
    margin-right: 10px; 
    text-align: right;
}

.test3{
    margin-top: 20px; 
    text-align: right; 
    padding: 20 20 20 20; 
    
}

.test4{
    margin-top: 30px;
    padding: 20 20 20 20;
       
}


.price{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



form {
    padding: 15px;
    text-align: center;
    max-width: 480px;
    margin: 25px auto;
    box-shadow: 0px 2px 104px rgba(0, 0, 0, 0.177);
    border-radius: 3px;
}

form * {
    font-size: 16px;
}

form input, form select {
    display: block;
    width: 80%;
    padding: 10px 15px;
    margin: 15px auto;
}

form .field {
    display: block;
    width: 100%;
    text-align: right;
}

form input, form select {
    border: 1px solid #ccc;
    color: #444;
    border: 1px solid #ccc;
}

form label {
    color: #ccc;
}

form input[type="submit"] {
    background: orangered;
    color: #fff;
    text-align: center;
    border: 0px;
    padding: 10px 15px;
    margin: 15px auto;
    border-radius: 3px;
}

form button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 15px;
    background: rgb(87, 19, 189);
    color: #fff;
    border: 0px;
    border-radius: 3px;
}


.garantie{
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    
}



